@page "/"

<PageTitle>Index</PageTitle>

<h1>Exercícios de C#</h1>

<p>Esse site tem o objetivo de armazenar e exibir os exercícios sobre os fundamentos de C#, i.e., sobre os aspectos básicos da linguagem.</p>

<SurveyPrompt Title="How is Blazor working for you?" />
